<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1>Selecione as suas<br><b>Compras</b></h1>

  <div class="filters">
    <mat-form-field appearance="outline">
      <mat-label>Tipo</mat-label>
      <input type="text" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Preço</mat-label>
      <input type="text" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Disponibilidade</mat-label>
      <input type="text" matInput>
    </mat-form-field>
  </div>

  <!--
    PRECISAMOS USAR ESPECIFICAMENTE ESSAS MAT-CARDs, OU PODE SER AS DIVS COMO ESTÁ?
    <mat-card>

    </mat-card>
  -->

  <div class="cards">
    <div class="card">
      <img src="/assets/img/food.jpg" alt="image">

      <div class="text">
        <h3>Sanduíche de Tal coisa</h3>
        <p>
          A ideia de colocar algum recheio no pão é bem antiga.
          Antes de Cristo, nos antigos rituais de Pessach,
          já se fazia uma mistura.
        </p>
        <p class="price">R$9,00</p>
      </div>

    </div>

    <div class="card">
      <img src="/assets/img/food.jpg" alt="image">

      <div class="text">
        <h3>Sanduíche de Tal coisa</h3>
        <p>
          A ideia de colocar algum recheio no pão é bem antiga.
          Antes de Cristo, nos antigos rituais de Pessach,
          já se fazia uma mistura.
        </p>
        <p class="price">R$9,00</p>
      </div>

    </div>
    <div class="card">
      <img src="/assets/img/food.jpg" alt="image">

      <div class="text">
        <h3>Sanduíche de Tal coisa</h3>
        <p>
          A ideia de colocar algum recheio no pão é bem antiga.
          Antes de Cristo, nos antigos rituais de Pessach,
          já se fazia uma mistura.
        </p>
        <p class="price">R$9,00</p>
      </div>

    </div>
    <div class="card">
      <img src="/assets/img/food.jpg" alt="image">

      <div class="text">
        <h3>Sanduíche de Tal coisa</h3>
        <p>
          A ideia de colocar algum recheio no pão é bem antiga.
          Antes de Cristo, nos antigos rituais de Pessach,
          já se fazia uma mistura.
        </p>
        <p class="price">R$9,00</p>
      </div>

    </div>
    <div class="card">
      <img src="/assets/img/food.jpg" alt="image">

      <div class="text">
        <h3>Sanduíche de Tal coisa</h3>
        <p>
          A ideia de colocar algum recheio no pão é bem antiga.
          Antes de Cristo, nos antigos rituais de Pessach,
          já se fazia uma mistura.
        </p>
        <p class="price">R$9,00</p>
      </div>

    </div>
    <div class="card">
      <img src="/assets/img/food.jpg" alt="image">

      <div class="text">
        <h3>Sanduíche de Tal coisa</h3>
        <p>
          A ideia de colocar algum recheio no pão é bem antiga.
          Antes de Cristo, nos antigos rituais de Pessach,
          já se fazia uma mistura.
        </p>
        <p class="price">R$9,00</p>
      </div>

    </div>
    <div class="card">
      <img src="/assets/img/food.jpg" alt="image">

      <div class="text">
        <h3>Sanduíche de Tal coisa</h3>
        <p>
          A ideia de colocar algum recheio no pão é bem antiga.
          Antes de Cristo, nos antigos rituais de Pessach,
          já se fazia uma mistura.
        </p>
        <p class="price">R$9,00</p>
      </div>

    </div>
    
  </div>

  <footer>
    <h1>Footer</h1>
  </footer>
</body>

</html>
