<body>
  <mat-toolbar>

    <div class="content">
      <div class="left">
        <button (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>

      <div class="right">
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon [matBadge]="contador" matBadgeColor="warn" matBadgeSize="small">shopping_cart</mat-icon>
        </button>
        <div class="user">
          <button>
            <mat-icon>account_circle</mat-icon>
          </button>

          <h3>{{username}}</h3>
        </div>
      </div>
    </div>
  </mat-toolbar>

  <h1>Selecione as suas<br><b>Compras</b></h1>

  <div class="filters">
    <mat-form-field appearance="outline">
      <mat-label>Tipo</mat-label>
      <mat-select (selectionChange)="filtroTipo($event.value)">
        <mat-option value="">Todos</mat-option>
        <mat-option value="Sanduiche">Sanduiche</mat-option>
        <mat-option value="Refeição">Refeição</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Preço</mat-label>
      <mat-select (selectionChange)="filtroPreco($event.value)">
        <mat-option value="">Todos</mat-option>
        <mat-option value="R$20,00">R$20,00</mat-option>
        <mat-option value="R$30,00">R$30,00</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Disponibilidade</mat-label>
      <mat-select (selectionChange)="filtroDisponibilidade($event.value)">
        <mat-option value="">Todos</mat-option>
        <mat-option value="Disponivel">Disponivel</mat-option>
        <mat-option value="Indisponivel">Indisponivel</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!--
    PRECISAMOS USAR ESPECIFICAMENTE ESSAS MAT-CARDs, OU PODE SER AS DIVS COMO ESTÁ?
    <mat-card>

    </mat-card>
  -->

  <div class="cards">
    <div (click)="buy()" *ngFor="let comida of cardapio" class="card">
      <img src="/assets/img/food.jpg" alt="image">

      <div class="text">
        <h3>{{comida.name}}</h3>
        <p><b>{{comida.tipo}}</b></p>
        <p>
          {{comida.description}}
        </p>
        <p class="price">{{comida.preco}}</p>
      </div>

    </div>

  </div>

  <footer>
    <h1>Footer</h1>
  </footer>
</body>
