<body>

  <div class="content">
    <mat-card>
      <h1>Entre em sua Conta</h1>
      <form>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="text" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input [(ngModel)]="senha" [ngModelOptions]="{standalone: true}" [type]="hide ? 'password' : 'text'" matInput>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <a>Esqueci minha senha</a>
      </form>
      <button (click)="login()" mat-raised-button color="warn">Login</button>
      <a routerLink="register">Cadastre-se ></a>
    </mat-card>
  </div>

</body>

