:root {
  --color-rose: #f44336;
  --color-gray: #808080;
}

html, body, span, p, form, img, a, ul, ol, li, table, tr, td, div {
  margin: 0;
  padding: 0;
  border:none;
  outline:none;
  list-style-type:none;
}


html {
  display: flex;
  scroll-behavior: smooth;
  overflow-x: hidden;

  font-size: 1em;
}


/* CONFIGURAÇÃO DO CORPO DE FORMA GERAL */

body {
  background-color: var(--color-white);

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 1.2em;

  margin: 0 auto;
  width: 100vw;
  height: 100%;

  overflow-x: hidden;
  overflow-y: scroll;

  background-color: #FF5555;
}

mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1% 0;
}

mat-toolbar .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

mat-toolbar .left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

mat-toolbar .right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}

mat-toolbar button {
  background-color: none;
  border: none;
  background: none;

}

mat-toolbar mat-icon {
  font-size: clamp(1.8em, 2.2em, 2.5em);
  color: #232323;
  transition: all .3s;
  cursor: pointer;
}

mat-toolbar mat-icon:hover {
  transform: scale(1.05);
  color: #f44336;
}


mat-toolbar h3 {
  color: #808080;
  font-weight: 300;
}


.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
