<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <mat-toolbar>

    <div class="content">
      <div class="left">
        <button>
          <mat-icon>logout</mat-icon>
        </button>
      </div>

      <div class="right">
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon matBadge="15" matBadgeColor="warn" matBadgeSize="small">shopping_cart</mat-icon>
        </button>
        <div class="user">
          <button>
            <mat-icon>account_circle</mat-icon>
          </button>

          <h3>Fulano de Tal</h3>
        </div>
      </div>
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>
</body>

</html>
