body {
    background-color: var(--color-white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1.2em;

    margin: 0 auto;
    width: 100vw;

    overflow-x: hidden;
    overflow-y: hidden;

    background-color: #FF5555;
  }
