:root {
  --color-rose: #f44336;
  --color-gray: #808080;
}

html, body, span, p, form, img, a, ul, ol, li, table, tr, td, div {
  margin: 0;
  padding: 0;
  border:none;
  outline:none;
  list-style-type:none;
}


html {
  display: flex;
  scroll-behavior: smooth;
  overflow-x: hidden;

  font-size: 1em;
}


/* CONFIGURAÇÃO DO CORPO DE FORMA GERAL */

body {
  background-color: var(--color-white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.2em;

  margin: 0 auto;
  width: 100vw;

  overflow-x: hidden;
  overflow-y: hidden;

  background-color: #FF5555;
}

h1 {
  width: 45%;
  color: #FF5555;
  text-align: center;
  font-size: clamp(1.8em, 2.2em, 3em);
  line-height: 120%;
  font-weight: 300;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 80%;
  border-radius: 20px;

  box-shadow: 0px 0px 40px rgba(0, 0, 0, .3);
}

mat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;

  box-shadow: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: -10%;
}


mat-form-field {
  width: 75%;
  // margin-bottom: 10%;
  border-radius: 10px;
  margin-bottom: 3%;
  padding: 0 2%;
  // padding-bottom: -2%;

}

button {
  width: 40%;
  height: 8%;
  border-radius: 10px;
  font-size: clamp(1em, 1.2em, 1.5em);

  margin-top: -5%;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
}

.local {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 80%;
}

.local mat-form-field:nth-child(2) {
  width: 80%;
}

.local mat-form-field:nth-child(1) {
  width: 20%;
  margin-left: 3%;
}

