<mat-card>
  <form>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input type="text" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="text" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input [type]="hide ? 'password' : 'text'" matInput>
    </mat-form-field>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-form-field>
      <mat-label>Estado</mat-label>
      <mat-select>
        <mat-option>None</mat-option>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cidade</mat-label>
      <mat-select>
        <mat-option>None</mat-option>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <button mat-raised-button color="warn">Login</button>
  </mat-card>
